@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-container > :first-child {
    margin-top: 0;
  }

  .text-container > :last-child {
    margin-bottom: 0;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/* Make scroll bars in preview mode dark */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
