@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red;
} */

body {
  -webkit-font-smoothing: antialiased;
}

/* Make scroll bars in preview mode dark */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
